@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
}

@layer base {
  html {
    font-family: Courier Prime, Courier, Lucida Sans Typewriter,
      Lucida Typewriter, monospace;
  }
}
